ktor {
    deployment {
        port = 8080
        autoreload = false
    }
    application {
        modules = [info.adavis.UFOSightingsKt.UFOSightings]
    }
}

database {
  storage = ".database"
  logsql = true
}
